html,
body {
  padding: 0;
  margin: 0;
  background-color: #8896ac;
}

.header-logo {
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 22px;
  justify-content: center;
  padding-top: 50px;
}

form {
  width: 100%;
}

#root>div {
  background-color: #8896ac;
}

.app {
  /* padding: 0 300px; */
  display: flex;
  justify-content: center;
  
  width: 500px;
  margin: 0 auto;
}

.text {
  text-align: center;
  color: #e9e9f1;
}

.text-input {
  text-align: center;
  color: #95959e;
}

.text-field-bg {
  background: #bab1b1;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  border-radius: 8px;
  padding: 16px;
  margin-top: 10px;
  min-height: 60px;
}

.field label {
  color: #131317;
  font-size: 14px;
  font-weight: bold;
}

.textField_mandatory > label > svg{
  color: #DB0E0E;
}
.custom-vertical-tab > span{
  display:none;
}

.custom-horizontal-tab > div> div > span{
    display:none;
  }